@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Philosopher:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;

}

body {
  background-color: #fafafa;
  font-family: Mulish, sans-serif;
  font-weight: 300;
  color: #ad5500
}

/* headings */
h1,
h2 {
  font-family: Philosopher, sans-serif;
  letter-spacing: 3px;
  color: #c17226;
  text-decoration: none;

}

#logo {
  float: center;
  font-size: 300%;
  text-decoration: none;
  margin-left: 30px;

}

a {
  text-decoration: none;
}

/* index page */
.colosseum-text {
  padding: 0 40px;
  margin: auto;
  line-height: 20px;
}



/* facts section */

.facts-heading {
  display: flex;
  justify-content: center;
  font-size: 140%;
  margin-top: 50px;
  padding: 0 40px;
  margin: auto;

}

#colosseum-facts {

  text-align: justify;
  font-size: 120%;
  padding: 0 40px;
  margin: auto;
  line-height: 20px;

}

#colosseum-facts>h1 {
  text-decoration: underline;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 200%;
  padding: 0 40px;
  margin: auto;

}

#facts {
  line-height: 45px;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 40px;
  margin: auto;
}


@media screen and (max-width:600px) {
  #horizontal {
    display: none;
  }
}

@media screen and (min-width:600px) {
  #vertical {
    display: none;
  }
}

/* history page */
.history-text {
  padding: 0 40px;
  margin: auto;
  line-height: 20px;
}

#history-image {
  background: url(../images/colosseum-history.jpg) no-repeat center center;
  max-width: 100%;
  min-height: 600px;
  object-fit: contain;
  margin-left: 50px;

}

/* gladiator page */
.gladiator-text {
  padding: 0 40px;
  margin: auto;
  line-height: 20px;
}

#gladiator-image {
  background: url(../images/gladiator-helmet.jpg) no-repeat center center;
  max-width: 100%;
  min-height: 600px;
  object-fit: contain;
  margin-left: 50px;

}

#gladiator-type-heading {
  margin-top: 20px;
}

/* visit page */

.visit-text {
  padding: 0 40px;
  margin: auto;
  line-height: 20px;
}

.photos {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* form section */
/* taken from w3schools https://www.w3schools.com/css/css_form.asp */

#form {
  padding: 0 40px;
  margin: auto;
  line-height: 20px;
}


form {
  border: 3px solid #ad5500;
  padding:15px 15px;
}

input[type=text] {
  width: 100%;
}

input[type=email] {
  width: 100%;
}

select {
  width: 100%;
}

input[type=submit],
input[type=reset] {
  background-color: #fafafa;
  border: solid;
  color: #c17226;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #fafafa;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myTopnav {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #ad5500;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #fafafa;
  display: block;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ad5500;
  color: #fafafa;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #fafafa;
  color: white;
}

/* form */
#form {
  padding: 0 40px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 20px;

}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* footer */

footer {
  height: ;
  background-color: #ad5500;
}

.social-networks {
  text-align: center;
}

.social-networks>li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #fafafa;
}

@media screen and (min-width:600px) {
  .topnav a.icon {
    display: none;
  }

}