@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Philosopher:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;

}
body {
    background-color: #e4decd;
    font-family: Mulish, sans-serif;
    font-weight: 300;
    color: #c89666;
}

/* headings */
h1,h2{
    font-family: Philosopher, sans-serif;
    letter-spacing: 3px;
    color: #c89666;

}

#logo{
    float: center;
    font-size: 300%;
}